<div class="container p-4">
	<div class="row">
		<div class="col-md-4 mx-auto">
			<div class="card text-center">
				<div class="card-header">
					<h3>Sing Up</h3>
				</div>
				<div class="card-body">
					<form action="/signup" method="POST">
						<div class="form-goup">
							<input type="text" name="fullname" placeholder="full name" class="form-control" autofocus="true">
						</div>
						<div class="form-goup">
							<input type="text" name="username" placeholder="Mail" class="form-control">
						</div>
						<div class="form-goup">
							<input type="password" name="password" placeholder="Password" class="form-control">
						</div>
						<div class="form-goup">
							<button class="btn btn-success btn-block">
								Sing Up
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>